$black: #111111;
$black-1: #000000;
$black-2: #292929;
$black-3: #1f1f1f;
$white: #f9f9f9;
$white-1: #fcfcfc;
$brown: #c7c7c7;
$brown-1: #737373;
$red: #eb0029;
$icon-color: #7e7e7e;
$bg-hover: #808080;
$underline-item: #00a0ba;
$blue: #0bc4e2;
$blue-1: #2c8cc2;

:export {
  black: $black;
}
